
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General */
html{
  font-family: 'Montserrat';
  background-color: #E0E0E0;
}

.bold{
  font-weight: bold;
}

.shadow{
  text-shadow: 0px 3px 4px rgba(0,0,0,.25);
}

i{
  text-shadow: 0px 3px 4px rgba(0,0,0,.25);
}

.row{
  padding: 5px 5px;
  margin: 0px!important;
}
/* Project list*/
.noproject-wrapper{
  margin-top: 250px;
  padding: 80px 0px;
  border: 6px solid #9E9E9E;
  border-style: dashed;

}
.noproject-wrapper h3{
  padding: 10px;
  margin-bottom: : 100px;
}

.btn-large a{
    text-shadow: 0px 3px 4px rgba(0,0,0,.25);
}
/* Project detail statistics*/
.section-stats h1{
  font-size: 4vw;
  margin: 15px 0px;
}
@mdeia(max-width: 992px){
  .section-stats h1{
    font-size: calc(16px + 6vw);
  }
}

/* projcet detail expenses*/

.section-expenses button{
  padding:0px 8px;
  font-weight: bold;
  text-shadow: 0px 3px 4px rgba(0,0,0,.25)
  background-color: #6FCF97!important;
}

.section-expenses .expense{
  font-size: 16px;
  background-color: white;
}

.section-expenses .expense .category{
  font-size: 13px;
}

.section-expenses li:nth-child(even) .expense{
  background-color: #F2F2F2;
}
